* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}



.header {
    display: flex;
   padding: 40px;
}
.logo_header {
    margin-left: 274px;
    margin-top: 10px;
}
.nav {
    margin-top: 13px;
    display: flex;
    margin-left: 467px;
}
.nav-item {
    margin-left: 40px;
    transition: 400ms;
}
.nav-item:hover {
    cursor: pointer;
    font-size: 20px;
}
.first {
    margin-left: 0;
}
.line {
    margin-left: 32px;
}
.info {
    margin-top: 7px;
    display: flex;
}
.logo_whatsup {
    margin-left: 32px;
}
.column_info {
    margin-left: 14px;
}
.road_text {
color: gray;
font-size: 15.4px;
}
.get_your {  
    margin-top: 101px;
    display: flex;
    width: 1265px;
    height: 632px;
    margin-left: 383px;
}

.large_text {
    width: 624px;
    height: 252px;
    font-size: 64px;
   
    line-height: 84px;
}
.small_text {
    display: flex;
    margin-top: 161px;
}

.column_text {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
.open {
    color: gray;
}
.time {
    font-size: 18px;
    line-height: 175%;
}
.image_get_your {
    display: flex;
    float: right;
}
.second_block {
    display: flex;
    margin-top: 107px;
    height: 940px;
    background-color: #E2E6E9;
}
.taking_car {
    margin-left: 320px;
    padding-top: 128px;
    width: 584px;
    height: 750px;
    display: flex;
    flex-direction: column;
}
.header_taking_car{
font-weight: 800;
font-size: 58px;
line-height: 76px;
letter-spacing: -0.03em;
}
.info_taking_car_convenient, .info_two{
    margin-top: 46px;
    width: 385px;
    height: 105px;
    display: flex;
}

.text_convient, .text_block {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
}
.large_convient, .large{
font-weight: 600;
font-size: 24px;
line-height: 36px;
letter-spacing: -0.03em;
}
.small_convient, .small {
    color: gray;
    margin-top: 8px;
    font-weight: 600;
}
.info_taking_car_expert {
    margin-top: 32px;
}
.under_block {
    display: flex;

   
}
.arrow {  
    margin-left: 21px;
   margin-top: 32px;

}

.under_text {
    margin-top: 32px;
    margin-left: 62px;
}
.ordered {
    width: 625px;
    height: 562px;
    margin-top: 155px;
}
.header_ordered {
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 140%;
letter-spacing: -0.03em;
}
.input_block {
    margin-top: 20px;
    width: 624px;
    height: 300px; 
    display: flex;
    flex-direction: column;
}
.input_box {
    margin-top: 3px;
    width: 624px;
    height: 70px;
    font-size: 32px;
}
.btn {
padding: 16px 40px;
background: #FF6433;
border-radius: 12px;
border: lightgray;
color: aliceblue;
font-size: 18px;
margin-top: 32px;
transition: 400ms;
}
.btn:hover {
    padding: 16px 40px;
    background: black;
    border-radius: 12px;
    border: lightgray;
    color: aliceblue;
    font-size: 18px;
    margin-top: 32px;
    cursor: pointer;
    box-shadow: 16px 16px lightblue;
}
.third_block {
    height: 800px;
}
.main_in_third_block {
    margin-left: 320px;
    margin-top: 136px;
    display: flex;
    width: 1087px;
    height: 527px;
}
.text_btn {
    display: flex;
    flex-direction: column;
    width: 524px;
    height: 396px;
}
.text_in_third {
font-weight: 800;
font-size: 58px;
line-height: 76px;
letter-spacing: -0.03em;
}
.btn_in_third {
    margin-top: 32px;
}
.second_in_third {
    width: 432px;
    height: 527px;
}
.block_in_third {
    margin-top: 16px;
    height: 165px;
    display: flex;
}
.block_in_third:first-child {
    margin-top: 0;
}


.line_in_third {
    margin-top: 15px;
    margin-left: 27px;
}
.second_column_in_a_quote{
    margin-left: 25px;
    display: flex;
    flex-direction: column;
}
.large_in_a_quote {
    font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 48px;
}
.small_in_a_quote {
margin-top: 8px;
font-weight: 600;
font-size: 21px;

}
.fourth_block {
    height: 1052px;
    background-color: #F2F2F2;
}
.header_of_fourth_block {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 310px;
    margin-left: 450px;
    padding: 128px;
}
.what_we_offer {
    font-size: 24px;
    margin-left: 290px;
}
.we_offer {
    font-size: 58px;
    line-height: 76px;
    letter-spacing: -3%;
    margin-top: 20px;
}
.maintenance {
    margin-left: 190px;
}
.block_items {
    margin-top: 64px;
    margin-left: 314px;
}
.row_block {
    display: flex;
}
.block_item {
    margin-left: 8px;
    transition: 400ms;
}
.block_item_second {
    margin-left: 8px;
    margin-top: 10px;
    transition: 400ms;
}
.block_item:hover {
    margin-left: 8px;
    margin-top: 10px;
    box-shadow: 50px 50px 50px 50px lightblue;
}
.block_item_second:hover {
    margin-left: 8px;
    margin-top: 10px;
    box-shadow: 50px 50px 50px 50px   lightblue;
}
