* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
.btn {
    padding: 16px 40px;
    background: #FF6433;
    border-radius: 12px;
    border: lightgray;
    color: aliceblue;
    font-size: 18px;
    margin-top: 32px;
    transition: 400ms;
    }
    .btn:hover {
        padding: 16px 40px;
        border-radius: 12px;
        border: aliceblue;
        background-color: aliceblue;
        color: black;
        font-size: 18px;
        margin-top: 32px;
        cursor: pointer;
        box-shadow: 16px 16px black;
       
    }
    .btn_in_third {
        padding: 16px 40px;
        background: #FF6433;
        border-radius: 12px;
        border: lightgray;
        color: aliceblue;
        font-size: 18px;
        margin-top: 32px;
        transition: 400ms;
        }
        .btn_in_third:hover {
            padding: 16px 40px;
            border-radius: 12px;
            border: aliceblue;
            background-color: aliceblue;
            color: black;
            font-size: 18px;
            margin-top: 32px;
            cursor: pointer;
            box-shadow: 16px 16px black;
           
        }
    







    .header {
        display: flex;
       padding: 40px;
    }
    .logo_header {
        margin-left: 274px;
        margin-top: 10px;
    }
    .nav {
        margin-top: 13px;
        display: flex;
        margin-left: 467px;
    }
    .nav-item {
        margin-left: 40px;
        transition: 400ms;
    }
    .nav-item:hover {
        font-size: 20px;
    }
    .first {
        margin-left: 0;
    }
    .line {
        margin-left: 32px;
    }
    .info {
        margin-top: 3px;
        display: flex;
    }
    .logo_whatsup {
        margin-left: 32px;
    }
    .column_info {
        margin-left: 14px;
    }
    .road_text {
    color: gray;
    font-size: 15.4px;
    }

    .main {
        height: 3600px;
    }
    .first_block {
        height: 700px;
    }
    .our_service_block {
        display: flex;
        height: 550px;
        width: 1280px;
        margin-left: 320px;
        margin-top: 25px;
    }
    .our_service_text {
        width: 733px;
        height: 550px;
        background-color: #1E1B1B;
        position: absolute;
        margin-left: 547px;
    }
    .large_text {
        margin-left: 96px;
        margin-top: 96px;
        color: aliceblue;
        font-size: 64px;
    }
    .small_text {
        color: lightgray;
        font-size: 18px;
        width: 541px;
        height: 96px;
        margin-left: 96px;
        margin-top: 16px;
        font-weight: 600;
        line-height: 31.5px;
    }
    .btn-wrapper {
        margin-top: 48px;
 
    }
    .btn_services {
        margin-left: 96px;
       
    }
    .second_block {
        height: 1016px;
        display: flex;
        background-color: #F5F5F5;
    }
    .left_block_in_second {
        width: 624px;
        height: 760px;
        margin-left: 320px;
        margin-top: 128px;
        background-color: white;
    }
    .car {
        margin-left: 48px;
        margin-top: 64px;
    }
    .large_text_second_block {
        color: black;
        margin-top: 32px;
        margin-left: 48px;
    }
    .small_text_second_block {
        margin-left: 48px;
        color: gray;
        font-size: 24px;
        font-weight: 1000;
        margin-top: 16px;
        line-height: 36px;
    }
    .arrow_services {
        display: flex;
        margin-left: 48px;
        margin-top: 32px;
        font-size: 20px;
    }
    .arrow {
        margin-top: 1px;
        margin-left: 16px;
    }   
    .right_block_in_second {
        margin-left: 32px;
        margin-top: 128px;
    }
    .two_row_block {
        display: flex;
    }
    .column_block {
        display: flex;
        flex-direction: column;
    }
    .item-block {
        margin-top: 16px;
        margin-left: 16px;
    }
    .third_block {
        height: 1362px;
       
    }
    .first_block_in_third {
        width: 1280px;
        height: 477px;
        margin-left: 320px;
        margin-top: 128px;
        display: flex;
    }
    .how_we_work {
        width: 489px;
        height: 134px;
        font-size: 48px;
    }
    .check_mark_text {
        display: flex;
        font-size: 24px;
        font-weight: 500;
        width: 470px;
        height: 72px;
    }
    .chekmark {
        margin-top: 32px;
    }
    .text_chekmark {
        margin-left: 24px;
        margin-top: 30px;
    }
    .how_right {
        margin-left: 169px;
    }
    .second_block_in_third {
        width: 1259px;
        height: 489px;
        border: solid black 1px;
        margin-left: 320px;
        margin-top: 128px;
        display: flex;
    }
    .second_text_block_in_third {
        width: 547px;
        height: 489px;
        border: solid black 1px;


    }
    .text_block_in_third {

        margin-left: 88px;
        width: 547px;
        height: 489px;
        border: solid black;
    }
    .diagnose_car_problems {
        line-height: 67px;
        font-size: 48px;
        font-weight: 700;
    }
    .small_text_in_third {
        font-size: 18px;
        color: gray;
        margin-top: 32px;
        line-height: 31.5px;
    }

































































































    

    .block_of_images {
        display: flex;  
        height: 502px;
    }
    .img_of_fourth_block {
        height: 100.1%;
    }
    .get_in_touch {
        width: 944px;
        height: 502px;
        background-color: #FF6433;
    }
    .get_in_touch_large {
        margin-top: 128px;
        margin-left: 103px;
        font-size: 48px;
        line-height: 67px;
        color: aliceblue;
    }
    .get_touch_btn {
        margin-top: 48px;
        margin-left: 128px;
        background-color: black;
    }
    .get_touch_btn:hover {
        margin-top: 48px;
        margin-left: 128px;
        background-color: white;
        color: black;
        box-shadow: 16px 16px black;
    }
.last_block {
    height: 600px;
    border: solid black 1px;
    background-color: rgb(12, 11, 11);
    display: flex;
}
.left_block {
    width: 463px;
    height: 222px;
    padding-top: 128px;
    margin-left: 320px;
}
.right_block {
    margin-top: -220px;
    position: absolute;
    margin-left: 976px;
    border: solid black white;
}
.normal {
    color: aliceblue;
    margin-top: 8px;
    font-size: 24px;
}
.small_last {
    font-size: 18px;
    margin-top: 40px;
}
.footer{
    height: 157px;
    display: flex;
    background-color: black;
    padding-top: 64px;
    padding-left: 320px;
}
.nav_footer {
    padding: 7px;
    display: flex;
    padding-left: 228px;
}
.nav-item_footer {
    color: aliceblue;
    padding-left: 36px;
    font-size: 18px;
    transition: 400ms;
}
.nav-item_footer:hover {  
    font-size: 20px; 
}
.last {
    font-size: 18px;
    color: gray;
    padding-top: 7px;
    padding-left: 210px;
}
.last_get_in {
    color: aliceblue;
    font-size: 48px;
}
.social {
    margin-top: 64px;
    display: flex;
}
.media {
    margin-left: 24px;
}
.face {
    margin-left: 0;
}
.footer{
    height: 157px;
    display: flex;
    background-color: black;
    padding-top: 64px;
    padding-left: 320px;
}
.nav_footer {
    padding: 7px;
    display: flex;
    padding-left: 228px;
}
.nav-item_footer {
    color: aliceblue;
    padding-left: 36px;
    font-size: 18px;
    transition: 400ms;
}
.nav-item_footer:hover {  
    font-size: 20px; 
}
.last {
    font-size: 18px;
    color: gray;
    padding-top: 7px;
    padding-left: 210px;
}


